@charset "utf-8";
/* CSS Document */

/*	Less Framework 4
	http://lessframework.com
	by Joni Korpi
	License: http://opensource.org/licenses/mit-license.php	*/


/*	Resets
	------	*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, 
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, hgroup, 
menu, footer, header, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}
article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
	display: block;
}

a img {border: 0;}



/*	Typography presets
	------------------	*/

.gigantic {
	font-size: 110px;
	line-height: 120px;
	letter-spacing: -2px;
}

.huge, h1 {
	font-size: 68px;
	line-height: 72px;
	letter-spacing: -1px;
}

.large, h2 {
	font-size: 42px;
	line-height: 48px;
}

.bigger, h3 {
	font-size: 26px;
	line-height: 36px;
}

.big, h4 {
	font-size: 22px;
	line-height: 30px;
}

body {
	font: 16px/24px Georgia, serif;
}

.small, small {
	font-size: 13px;
	line-height: 18px;
}

/* Selection colours (easy to forget) */

::selection 	 	{color: #a47700;}
::-moz-selection 	{color: #a47700;}
img::selection 		{background: transparent;}
img::-moz-selection	{background: transparent;}
body {-webkit-tap-highlight-color: #a47700;}
input::selection {background:#0066ff; color:#fff;}
input::-moz-selection {background:#0066ff; color:#fff;}

/*		Default Layout: 992px. 
		Gutters: 24px.
		Outer margins: 48px.
		Leftover space for scrollbars @1024px: 32px.
-------------------------------------------------------------------------------
cols    1     2      3      4      5      6      7      8      9      10
px      68    160    252    344    436    528    620    712    804    896    */

body {
	width:100%;
	background: rgb(255,255,255);
	color: rgb(60,60,60);
	margin:0 auto;
	-webkit-text-size-adjust: 100%; /* Stops Mobile Safari from auto-adjusting font-sizes */
}

#wrapper {
	width: 1120px;
	padding:  20px 84px;
	margin:0 auto;
}

/*		Tablet Layout: 768px.
		Gutters: 24px.
		Outer margins: 28px.
		Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */
@media only screen and (min-width: 991px) and (max-width: 1024px) {
    #wrapper {
        width: 912px;
        padding:  20px 0 0px 0 !important;
        margin:0 auto;
    }
    #content {
        width:681px !important;
    }
}
@media only screen and (min-width: 991px) and (max-width: 1024px) and (orientation:landscape) {
    #wrapper {
        width: 712px;
        padding: 20px 0 0 0;
        margin:0 auto;
        zoom:100%;
    }
    #content {
        width:481px !important;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	#wrapper {
		width: 712px;
		padding:  20px 0 0px 0 !important;
		margin:0 auto;
	}
	#content {
		width:481px !important;
	}
}



/*		Mobile Layout: 320px.
		Gutters: 24px.
		Outer margins: 34px.
		Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */

@media only screen and (max-width: 767px) {
	
	body {
		width: 100%;

	}
	#wrapper {
		width: 252px;
		padding:  20px 34px 60px;
		margin:0 auto;
	}
	.nav {
		margin-top:-3px;
		margin-bottom:10px;
		height:117px !important;
		width:100%;
		background: url(/assets/components/radui/templates/images/shared/nav/repeat2.jpg) repeat !important;
	}
	.nav .select a {
		padding:0 20px 0 20px !important;
	}
	.nav .current a {
		padding:0 20px 0 20px !important;
	}
	#page-top-outer	{
		height:121px !important;
		background-repeat: repeat-y !important;
	}
	#content {
		width:auto !important;
		max-width:252px;
		padding-left:0 !important;
	}
	#sidebar {
		margin-bottom:10px !important;
		margin-left:22px;
	}
}



/*		Wide Mobile Layout: 480px.
		Gutters: 24px.
		Outer margins: 22px.
		Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */

@media only screen and (min-width: 480px) and (max-width: 767px) {
	
	body {
		width: 100%;
	}
	#wrapper {
		width: 441px;
		padding:  20px 8px 48px;
		margin:0 auto;
	}
	.nav {
		margin-top:-3px;
		margin-bottom:10px;
		height:77px !important;
		width:100%;
		background: url(http://bcwebtest01/assets/components/radui/templates/images/shared/nav/repeat2.jpg) repeat !important;
	}
	.nav .select a {
		padding:0 20px 0 20px !important;
	}
	.nav .current a {
		padding:0 20px 0 20px !important;
	}
	#content {
		width:auto !important;
		max-width:441px;
		padding-left:0 !important;
	}
	#sidebar {
		margin-left:0 !important;
		margin-bottom:10px !important;
		padding-right:0 !important;
	}
	#sidebar ul li {
		width:212px !important;
		float:left;
	}
}